<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<variable name="isDevelopment" value="${when:when='${aspnet-environment}'=='Development':inner=true:else=false}" />

	<targets>
		<target xsi:type="ColoredConsole" name="app"
			layout="${time} | ${level:uppercase=true:padding=-5} | ${logger:shortName=true} | ${message}${onhasproperties: [${all-event-properties}]} ${exception:format=tostring}" />

		<target xsi:type="ColoredConsole" name="plain"
			layout="${time} | ${level:uppercase=true:padding=-5} | ${logger:shortName=true} | ${message} ${exception:format=tostring}" />

		<target xsi:type="Console" name="json">
			<layout xsi:type="JsonLayout" includeEventProperties="true" includeScopeProperties="true">
				<attribute name="ts" layout="${date:universalTime=true:format=o}" />
				<attribute name="level" layout="${level:uppercase=true}" />
				<attribute name="logger" layout="${logger}" />
				<attribute name="message" layout="${message}" />
				<attribute name="exception" layout="${exception:format=tostring}" />
			</layout>
		</target>
	</targets>

	<rules>
		<logger name="API.Furnistore.API.Endpoints" minlevel="Info" writeTo="plain" final="true">
			<filters defaultAction="Log">
				<when condition="'${var:isDevelopment}'!='true'" action="Ignore" />
			</filters>
		</logger>

		<logger name="API.Furnistore.*" minlevel="Debug" writeTo="app" final="true">
			<filters defaultAction="Log">
				<when condition="'${var:isDevelopment}'!='true'" action="Ignore" />
			</filters>
		</logger>

		<logger name="Microsoft.EntityFrameworkCore.Database.Command" minlevel="Info" writeTo="plain" final="true">
			<filters defaultAction="Log">
				<when condition="'${var:isDevelopment}'!='true'" action="Ignore" />
			</filters>
		</logger>

		<logger name="Microsoft.*" maxlevel="Info" final="true" />
		<logger name="Npgsql.*" maxlevel="Info" final="true" />
		<logger name="System.*" maxlevel="Info" final="true" />

		<logger name="*" minlevel="Warn" writeTo="plain">
			<filters defaultAction="Log">
				<when condition="'${var:isDevelopment}'!='true'" action="Ignore" />
			</filters>
		</logger>

		<logger name="*" minlevel="Info" writeTo="json">
			<filters defaultAction="Log">
				<when condition="'${var:isDevelopment}'=='true'" action="Ignore" />
			</filters>
		</logger>
	</rules>
</nlog>
