# Configuracion JWT
JWT_SECRET=
JWT_ISSUER=
JWT_AUDIENCE=

# URL Database en Supabase
DATABASE_URL=

# ⚙️ ASP.NET Core
ASPNETCORE_ENVIRONMENT=Production
ASPNETCORE_URLS=http://+:80

# SMTP (correo de verificacion)
SMTP_USERNAME=
SMTP_PASSWORD=
