# Configuracion JWT
JWT_SECRET=
JWT_ISSUER=
JWT_AUDIENCE=

# URL Database en Supabase
DATABASE_URL=

# ⚙️ ASP.NET Core
ASPNETCORE_ENVIRONMENT=Production
ASPNETCORE_URLS=http://+:80

Api__PublicUrl=
Frontend__PublicUrl=

SmtpSettings__UserName=
SmtpSettings__Password=
SmtpSettings__SenderEmail=

ForwardedHeaders__KnownProxies=
